@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;

}

/*Основные стили*/

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	color: #4D575D;
}

body {
	background-color: #EFEFF4;
}

.main {
	width: 100%;
}

.content {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.tariff {
	width: 32%;
	min-width: 240px;
	margin-right: 2%;
	background-color: #fff;
	border: 1px solid #D4D3D8;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.tariff > * {
	margin-left: 20px;
}

.tariff__header {
	color: #82C12B;
	font-size: 20px;
	font-weight: 500;
	padding: 15px 0;
}

.tariff__flex-container {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #D4D3D8;
	border-bottom: 1px solid #D4D3D8;
}

.tariff__speed {
	position: relative;
	left: -20px;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	padding-left: 20px;
	display: inline-block;
	background-color: #70603E;
	color: #fff;
}

.tariff__speed_blue {
	background-color: #0075D9;
}

.tariff__speed_orange {
	background-color: #E74807;
}

.tariff__arrow {
	width: 25px;
	fill: #C7C7CC;
	margin-right: 15px;
	transition: fill ease 1s;
}

.tariff__arrow:hover {
	fill: #4D575D;
	cursor: pointer;
	transition: fill ease 1s;
}

.tariff__cost {
	padding: 10px 0; 
	font-weight: 500;
}

.tariff__footer {
	padding: 15px 0;
	margin-right: 10px;
}

.tariff__link {
	text-decoration: none;
	color: #0075D9;
}


/*Стили для страницы опций тарифа*/

.tariff_options {
	width: 100%;
}

.content-options {
	width: 50%;
	margin: 0 auto;
	min-width: 240px;
}

.options-header {
	display: flex;
	align-items: center;
	background-color: #F7F7F8;
	border: 1px solid #D4D3D8;
	margin-bottom: 30px;
}

.options-header__header {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	padding: 15px 0;
	margin: auto;
}

.options-header__arrow {
	width: 35px;
	fill: #82C12B;
	cursor: pointer;
}

.tariff__flex-container_options {
	border-bottom: none;
}

/*Стили для подтверждения тарифа*/
 
.tariff__packages_selected {
	margin-top: 20px;
}

.tariff__package-item_selected {
	color: #aaa;
}

.confirm-button {
	width: 90%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	background-color: #82C12B;
	margin: 20px auto;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}




@media only screen and (min-width: 1025px) {
	.tariff:nth-child(3n) {
		margin-right: 0;
	}
}

@media only screen and (max-width: 1024px) {
	.tariff {
		width: 48%;
		margin-right: 4%;
	}

	.tariff_options {
		width: 100%;
	}

	.tariff:nth-child(2n) {
		margin-right: 0;
	}

	.content-options {
		width: 70%;
	}
}

@media only screen and (max-width: 640px) {
	.tariff {
		width: 100%;
		margin-right: 0;
	}

	.content-options {
		width: 100%;
	}
}